<!--신고된 유기견의 내용보여주는 html-->
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Like DaengDaengE</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static '/css/heroic-features.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{%static '/css/home.css'%}">  
    
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Poor+Story" rel="stylesheet">
</head>

<body>

  <!-- Navbar content -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <!-- Navbar content -->
    <div class="container">
      <a class="navbar-brand" href="#">Like DaengDaengE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'enroll' %}">등록</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">정보</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'print' %}">프린트</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  

    <!-- Jumbotron Header -->
   
      <img class="card-img-top" src="{% static 'images_5fun.jpg'%}" alt="" width="1200" height="600">
      <h5 class="display-3">멋쟁이 댕댕이처럼에 오신것을 환영합니다!</h5>
      <hr>
      <p class="lead">멋쟁이 댕댕이처럼에서는 유기견 등록, 실종견 신고, 입양신청 등의 서비스를 이용할 수 있습니다.</p>

      <button type="button" class="btn btn-secondary btn-lg btn-block">입양신청 바로가기</button>
      <hr>
    

    <!-- Page Features -->
    
        <h2>{{dog.title}}</h2>
        {% if dog.image.url != None %}
            <img src = "{{ dog.image.url }}" alt="aa" width = "500px">
        {%endif %}
        <p>{{dog.dog_kind}}</p>
        <p>{{dog.dog_date}}</p>
        <h3>{{dog.body}}</h3>
    <!-- /.row -->

 
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>