<!--프린트 페이지-->

<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>멋쟁이 댕댕이처럼</title>
  <!--google font-->  
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Poor+Story" rel="stylesheet">  
    
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/enroll.css'%}">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Like DaengDaengE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
             <a class="nav-link" href="{% url 'home' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'enroll' %}">등록</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">정보</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'print' %}">프린트</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
      <img class="card-img-top" src="{% static 'images_5fun.jpg'%}" alt="" width="1000" height="700">
      <h5 class="display-3">유기견을 발견하셨나요?</h5>
      <p class="lead">주인을 찾을 수 있게 유기견을 등록해주세요!</p>
      <a href="{% url 'enroll_page' %}" ><button type="button" class="btn btn-secondary btn-lg btn-block">유기견 등록하기</a></button>
   

  <!-- Page Content -->
    {% for dogs in dog %}
    <li><a href = "{% url 'content' dogs.id %}">{{dogs.title}}</a></li>
        <div>
            <a href = "{% url 'delete' dogs.id %}"><button type="button" class="btn btn-danger" color="#60c5ba">입양완료!</button></a>
        </div>
    <br>
    {% endfor %}
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
   
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
