<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Like DaengDaengE</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}">  
    
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Poor+Story" rel="stylesheet">
</head>

<body>

  <!-- Navbar content -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <!-- Navbar content -->
    <div class="container">
      <a class="navbar-brand" href="#">Like DaengDaengE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'enroll' %}">등록</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">정보</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'print' %}">프린트</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  

    <!-- Jumbotron Header -->
   
      <img class="card-img-top" src="{% static 'images_5fun.jpg'%}" alt="" width="1200" height="700">
      <h5 class="display-3">멋쟁이 댕댕이처럼에 오신것을 환영합니다!</h5>
      <hr>
      <p class="lead">멋쟁이 댕댕이처럼에서는 유기견 등록, 실종견 신고, 입양신청 등의 서비스를 이용할 수 있습니다.</p>

      <button type="button" class="btn btn-secondary btn-lg btn-block">입양신청 바로가기</button>
      <hr>
    

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'j.jpg'%}" alt="" width="400" height="280">
          <div class="card-body">
            <h4 class="card-title">잭러셀테리어 2개월 男</h4>
            <p class="card-text">접종여부:1차접종완료<br>중성화:안됨</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">더 알아보기</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'h.jpg'%}" alt="" width="400" height="280">
          <div class="card-body">
            <h4 class="card-title">허스키 2개월 男</h4>
            <p class="card-text">접종여부:1차접종완료<br>중성화:안됨</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">더 알아보기</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'p.jpg'%}" alt="" width="400" height="280">
          <div class="card-body">
            <h4 class="card-title">포메 2개월 女</h4>
            <p class="card-text">접종여부:1차접종완료<br>중성화:안됨</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">더 알아보기</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 's.jpg'%}" alt="" width="400" height="280">
          <div class="card-body">
            <h4 class="card-title">시바이누 2개월 女</h4>
            <p class="card-text">접종여부:2차접종완료<br>중성화:안됨</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">더 알아보기</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

 
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>